[Unit]
Description=Apache Kafka Server
After=network.target

[Service]
Type=simple

User=ubuntu
Group=ubuntu

Environment="KAFKA_HEAP_OPTS=-Xms256m -Xmx512m"

ExecStart=/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/kraft/server.properties

ExecStop=/opt/kafka/bin/kafka-server-stop.sh

Restart=always
RestartSec=10

LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
