process.roles=broker,controller

node.id={{ ec2_tags.BrokerId }}

controller.quorum.voters={% for host in groups['role_kafka'] %}{{ hostvars[host].ec2_tags.BrokerId }}@{{ hostvars[host].ansible_host }}:9093{% if not loop.last %},{% endif %}{% endfor %}

listeners=PLAINTEXT://:9092,CONTROLLER://:9093

advertised.listeners=PLAINTEXT://{{ ansible_host }}:9092

inter.broker.listener.name=PLAINTEXT

controller.listener.names=CONTROLLER

listener.security.protocol.map=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT

log.dirs={{ kafka_log_dir }}

###############################
# Cluster Settings
###############################

num.partitions=3

default.replication.factor=3

offsets.topic.replication.factor=3

transaction.state.log.replication.factor=3

transaction.state.log.min.isr=2

min.insync.replicas=2

group.initial.rebalance.delay.ms=0

auto.create.topics.enable=true
